.container{
    height: 535px;
    width: 500px;
    text-align: center;
    padding-left: 35px;
    padding-top: 50px;
    background-color: rgb(108, 105, 99);
}

#Height,
#Weight{
    height: 20px;
    width: 200px;
    margin-top: 30px;
}

#weight-guide{
    margin-top: 35px;
    margin-left: 25%;

}

#results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
}

button {
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 20px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    
    font-size: 25px;
}

h1 {
    padding-left: 15px;
    padding-top: 25px;
}
